body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
}

.content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
}

.title-site a {
    text-decoration: none;
    color: inherit;  
}

.title-site a:hover {
    color: rgb(192, 192, 192);
}

.title-site {
    text-align: center;
    margin: 60px 40px;
}

.title-site span {
    color: #808080;
}

.anime-project {
    display: flex;
    width: 250px;
    height: 150px;
}

.details-main {
    display: flex;
}

.anime-details {
    display: flex;
    flex-direction: column;
}

h2 {
    width: 40%;
    margin-left: -40px;
    text-align: center;
}

img {
    width: 380px;
    border-radius: 4px;
    margin-left: 155px;
}

.anime-details p {
    width: 83%;
    margin-left: 160px;
    margin-top: 40px;
    text-align: justify;
}

.trailer {
    margin-left: 40%;
    position: absolute;
}

.trailer h3 {
    margin-top: 80px;
}

.trailer iframe {
    margin-left: -180px;
}

.no-trailer {
    font-size: 28px;
    padding-top: 100px;
}

.gif {
    width: 500px;
    margin-left: 50px;
}

footer {
    margin: 40px;
    text-align: center;
}


@media screen and (max-width: 450px) {
    .content-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 60px;
    }

    .title-site {
        text-align: center;
        font-size: 28px;
    }
    
    .anime-project {
        display: flex;
        width: 250px;
        height: 150px;
    }

    .details-main {
        display: flex;
    }

    .anime-details {
        display: flex;
        flex-direction: column;
    }

    h2 {
        width: 100%;
        margin-left: 5px;
        text-align: center;
        font-size: 17px;
    }

    img {
        width: 280px;
        border-radius: 4px;
        margin-left: 75px;
    }

    .anime-details p {
        width: 90%;
        margin-left: 20px;
    }

    .trailer {
        margin-left: 10%;
        position: absolute;
    }

    .trailer h3 {
        margin-top: 900px;
    }

    .trailer iframe {
        width: 395px;
        height: 250px;
        margin-left: -30px;
        margin-bottom: 40px;
    }

    .no-trailer {
        font-size: 20px;
        padding-top: 660px;
        padding-left: 65px;
    }

    .gif {
        width: 220px;
        margin-left: 80px;
        margin-bottom: 40px;
    }
}