body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
}

.content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
}

.title-site {
    text-align: center;
    margin: 60px 40px;
}

.title-site span {
    color: #808080;
}

img, .details {
    width: 215px;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 6px;
    width: 290px;
    transition: transform 0.3s ease-in-out;
}

div:hover {
   transform: scale(1.01);
}

.title {
    font-size: 20px;
    text-align: center;
}

.details {
    text-align: center;
    display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
}

.details.expanded { 
    display: block;
}

.genres-list {
    list-style-type: none;
    display: flex;
    margin-right: 15px;
}
.genres-list li {
    margin-right: 20px;
    border: 3px solid grey;
    background-color: grey;
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
}

.score span {
    color: white;
    font-weight: bold;
}

footer {
    margin: 40px;
    text-align: center;
}